@mixin flex-row {
    display: flex;
    flex-direction: row;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

// @function fonts ($size: 1em, $letter-spacing: 1px) {
//     font-size: $size, letter-spacing: $letter-spacing
// }
